.events-section {
    padding: 100px 24px;

    background: #f8fcf9;
}

.events-container {
    max-width: 1200px;
    margin: auto;
}

.events-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
}

@media (max-width: 850px) {
    .events-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .events-section {
        padding: 70px 18px;
    }
}